/* Fonts einbinden */
@font-face {
  font-family: "LuckiestGuy-Regular";
  src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Farbe */
  --color-bg-main: rgba(10, 25, 41, 1);
  --color-bg-header-footer: rgba(15, 41, 66, 1);

  --color-fonts: rgb(190, 190, 190, 1);

  /* Schriftarten */
  --font-general: "LuckiestGuy-Regular";
}

/* Grundeinstellungen für alle Elemente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; Dev */
}

html {
  scroll-behavior: smooth;
}

/* Text-Grundlagen */
body {
  font-size: 16px; /* nur für Programierung, Später löschen  */
  font-family: var(--font-general), sans-serif, monospace; /* Standartschriftart*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: black;
}
